/* Homepage CSS */

body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Homepage content */
    
.section-right {
    .header-links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 60px;
        width: 85%;
        float: right;
        /* margin: 0 auto; */
        /* position: absolute; */
        /* top: 150px; */
        /* left: 150px; */
        /* right: 0px; */
      }
      .nav-link {
        cursor: pointer;
        transition: .3s ease;
      }
      .nav-link:hover {
        transform: scale(1.1);
      }
      .nav-link p {
        text-align: center;
        margin-top: 5px;
      }
      
      .img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 100px;
      }
    .bg-img {
        background: url("img/accueil/main-bg1.jpg") bottom/cover;
        height: 100vh;
        width: 85%;
        float: right;
    }
}

/* Homepage Content responsive to mobile*/

@media (max-width: 768px) {
    .section-right {
        div {
            width: 100%;
        }
    }
}