.produits{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
    margin-bottom: 200px;
}
h1{
    margin-top: 130px;
    font-family: "Lobster", sans-serif;
    font-size: 4rem;
    color: #4e792a;
    text-align: center;
    margin-bottom: 50px;
}
.produit{
    padding: 40px;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.227);
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 500px;
    border-radius: 20px;
    gap: 30px;
}
.produit img{
    width: 300px;
    height: auto;
}
.produit figure{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #1f4100;
    font-size: 1.2rem;
    text-align: center;
}
.produit p{
    color: #3c601f;
}
button{
    background-color: #4e792a;
    color: white;
    border-radius: 10px;
    border: none;
    height: 50px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.section-gauche{
    background-color:  #4e792a;
    width: 15%;
    height: 100vh;
    position: fixed;
}

.section-gauche ul{
    display: flex;
    flex-direction: column;
    gap: 100px;
    text-align: center;
    margin-top: 200px;
}
.section-gauche li{
    list-style: none;
}
.section-gauche a{
    text-decoration: none;
    color: #d4efbc;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    transition: 0.3s ease;
}
.section-droite{
    float: right;
    width: 80%;
}

button:hover{
    background-color: #3c601f;
}
.section-gauche a:hover{
    color: white;
}
.menu-hamburger{
    display: none;
}

@media (max-width: 768px){
    .menu-hamburger{
        display: block;
        color: white;
        margin-left: 30px;
        font-size: 30px;
        z-index: 10;
    }
    .nav-right{
        display: none;
    }
    .produits{
        flex-direction: column;
        align-items: center;
    }
    .produit{
        width: 80%;
    }
    .produit img{
        width: 90%;
    }
    .section-gauche{
        display: none;
    }
    .section-droite{
        width: 100%;
    }

    .section-gauche{
        top: 0; 
        left: 0;
        position: absolute;
        background-color: #3c601f;
        width: 100%;
        height: 100vh;
        display: block;
        align-content: center;
        margin-left: -100%;
    }

    .section-gauche ul{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        text-align: center;
        line-height: 50px;
    }
    .section-gauche a{
        writing-mode: horizontal-tb;
        font-size: 35px;
    }

    .mobile-menu{
        margin-left: 0;
    }
}