.produits{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 200px;
}
.contenue{
    background-color: #e8ebe1;
}
h1{
    margin-top: 150px;
    font-family: "Lobster", sans-serif;
    font-size: 4rem;
    color: #4e792a;
    text-align: center;
    margin-bottom: 50px;
}
.produit{
    padding: 40px;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.227);
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 50%;
    border-radius: 20px;
    gap: 15px;
}
.produit img{
    width: 80%;
    height: auto;
}
.produit figure{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #1f4100;
    font-size: 1.2rem;
    text-align: center;
}
.produit p{
    color: #3c601f;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    background-color: #4e792a;
    color: white;
    border-radius: 10px;
    border: none;
    height: 50px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.section-droite{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    float: right;
    width: 80%;
}

button:hover{
    background-color: #3c601f;
}
.section-gauche a:hover{
    color: white;
}

/* Compte */
.compte{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.44);
    margin-top: 230px;
    border-radius: 20px;
    gap: 30px;
    padding: 40px;
    margin-bottom: 200px;
}

.compte img{
    width: 20%;
}
.compte h1{
    margin-top: -10px;
    margin-bottom: -10px;
}
.btn-compte{
    width: 50%;
}
/* Etoile */
.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.rating i {
    color: #ddff00;
    margin: 0 2px;
}

@media (max-width: 768px){
    h1{
        margin-top: 200px;
    }
    .produits{
        flex-direction: column;
        align-items: center;
    }
    .produit{
        width: 80%;
        height: 90%;
    }
    .produit img{
        width: 80%;
    }
    .section-droite{
        width: 100%;
    }

    .mobile-menu{
        margin-left: 0;
    }
    /*Responsive Compte*/
    .compte{
        width: 90%;
    }
    .compte h1{
        font-size: 2rem;
    }
}