body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
}

main {
    height: 90vh;
    div {
        background: url("img/accueil/main-bg1.jpg") bottom/cover;
        height: 100%;
        width: 100%;
    }
}